body {
  background: #e5b990;
  font-family: "Comforter", cursive;
  font-family: "Kalnia", serif;
  font-family: "Raleway", sans-serif;
}
.weather-app {
  background: #f7e7ce;
  max-width: 600px;
  margin: 45px auto;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 30px 50px rgba(56, 49, 41, 0.08);
}

form {
  margin-top: 10px;
  position: relative;
  left: 5px;
}
.search-form-input {
  width: 65%;
}
.search-form-button {
  margin-left: 5px;
  width: 75px;
  background: #ecd7bc;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
}
.weather-city {
  margin: 0;
  font-size: 30px;
  line-height: 68px;
}

.weather-details {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}
.weekdays {
  position: relative;
  top: 15px;
  background: #f7e7ce;
  border: none;
}

footer {
  padding: 16px 0 0 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
