body {
  background: #e5b990;
  font-family: "Comforter", cursive;
  font-family: "Kalnia", serif;
  font-family: "Raleway", sans-serif;
}
.weather-app {
  background: #f7e7ce;
  max-width: 600px;
  margin: 45px auto;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 30px 50px rgba(56, 49, 41, 0.08);
}

form {
  margin-top: 10px;
  position: relative;
  left: 5px;
}
.search-form-input {
  width: 65%;
}
.search-form-button {
  margin-left: 5px;
  width: 75px;
  background: #ecd7bc;
}
header {
  border-bottom: 1px solid #f9f1f0;
  padding: 0 0 30px 0;
  margin-bottom: 12px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
}
.weather-city {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  line-height: 68px;
}

.weather-details {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}
strong {
  color: #95675b;
}
.weather-app-temperature {
  display: flex;
}
.weather-app-valuetemp {
  font-size: 65px;
  font-weight: 600;
  margin-left: 7px;
  margin-top: 14px;
}
.weather-app-icon {
  font-size: 35px;
  margin-top: 6px;
}
.weather-app-unit {
  margin-top: 29px;
  font-size: 30px;
}

.weather-forecast {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.forecast-date {
  font-size: 14px;
}

.forecast-icon {
  width: 100%;
}
.forecast-temperature {
  font-size: 14px;
}
.min-temp {
  opacity: 0.6;
}
footer {
  border-top: 1px solid #f9f1f0;
  padding: 21px 0 0 0;

  margin-top: 35px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
a {
  color: #95675b;
}
